* {
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
}
.navbar {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin: 16px;
  margin-top: 40px;
  list-style: none;
}
.logo {
  width: 30%;
  margin-top: 10px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.home-logo {
  width: auto;
  max-height: 400px;
}
.home {
  display: flex;
  height: 800px;
  justify-content: center;
  align-items: center;
}